@model ListCategoriesPageVM

@{
    ViewBag.Title = "ListCategories";
}


    <div class="row">
        <div class="col-4">
            <div style="overflow-x:auto">
                <table>


                    <tr>
                        <th>Kategori ID</th>
                        <th>Kategori Ismi</th>
                        <th>Kategori Acıklaması</th>
                        <th>Islemler</th>
                    </tr>

                    @foreach (CategoryVM item in Model.Categories)
                    {
                        <tr style="width:100px">
                            <td>@item.ID</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Description</td>
                            <th>
                        @Html.ActionLink("Güncelle", "UpdateCategory", new { id = item.ID }, new { @class = "btn btn-warning" }) </th>
                    <th>
                        @Html.ActionLink("Sil", "DeleteCategory", new { id = item.ID }, new { @class = "btn btn-danger" })

                    </th>

                        </tr>
                    }


                </table>
            </div>

            


        </div>



        <div class="col-4">
            <div style="overflow-x:auto">
                <table class="table table-striped">
                    <tr>
                        <th>Ürün ID</th>
                        <th>Ürün İsmi</th>
                        <th>Ürün Fiyatı</th>



                    </tr>

                    @foreach (ProductVM item in Model.Products)
                    {
                        <tr>
                            <th>@item.ID</th>
                            <th>@item.ProductName</th>
                            <th>@item.UnitPrice</th>


                        </tr>
                    }



                </table>
            </div>
            



        </div>

        <div class="col-4">

            <div style="overflow-x:auto">
                <table class="table table-hover">
                    <tr>
                        <th>Tedarikci ID</th>
                        <th>Sirket Ismi</th>

                    </tr>

                    @foreach (SupplierVM item in Model.Suppliers)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.CompanyName</td>
                        </tr>

                    }
                </table>
            </div>
            
        </div>
    </div>
